@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --clr-light: #ffffff;
    --clr-light2: #f1f1f1;
    --clr-accent: rgb(92, 144, 165);
    --clr-text: rgb(0, 0, 0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5;
}

* {
    /* outline: 2px solid red; */
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-text);
}

.nav-bar {
    background-color: var(--clr-accent);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    position: sticky;
    overflow: hidden;
    top: 0;
}

.logo {
    font-family: kufam, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding: 8px 0 0 16px;
}

.fab {
    color: var(--clr-light);
}
.selected {
    color: var(--clr-accent);
}

.content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0px 2rem;
}


.header {
    margin-bottom: 5px;
}

.recipe-card {
    background-color: var(--clr-light2);
    border-radius: 10px;
    padding: 12px;
    margin: 0 -12px;
    display: flex;
    gap: 2rem;
}

.desc {
    max-width: 40ch;
}

.title {
    color: var(--clr-text);
    font-weight: 800;
    display: inline-block;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--clr-accent);
    font-size: 24px;
}

.prep div {
    margin-top: 20px;
}

.recipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

img {
    border-radius: 10px;
    max-width: 300px;
    min-width: 100px;
    max-height: 300px;
    min-height: 100px;
    aspect-ratio: 1;
    opacity: 0.9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    object-fit: cover;
}

ol,
ul {
    max-width: 80ch;
    margin-left: 32px;
}


a,
.header {
    text-decoration: none;

    color: var(--clr-text);
}

@media only screen and (max-width: 700px) {
    .content {
        font-size: smaller;
        margin: 0 .5rem;
    }
    .title {
        font-size: large;
    }
    .recipes {
        flex-direction: column;
    }

    .recipe-card{
        gap: 1rem;
    }

    img {
        max-width: 200px;
        min-height: 150px;
        flex-basis: auto;
    }
    .logo {
        font-size: 22px;
    }
  }