@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --clr-dark: #ffffff;
    --clr-dark2: #f1f1f1;
    --clr-accent: rgb(125, 163, 245);
    --clr-text: rgb(0, 0, 0); 
}

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5;
}

* {
    /* outline: 2px solid red; */
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-text);
}
html {
    margin: 10px auto;
    display: table;
}

.logo {
    align-self: first baseline;
    font-family: kufam;
    font-weight: 100;
    margin: 32px 0;
}

.fab {
    color: var(--clr-accent);
}

.header {
    font-size: 18px;
    display: inline-flex;
    margin-bottom: 5px;
}

.desc {
    display: inline-block;
    position: absolute;
    margin-left: 24px;
}


.title {
    color: var(--clr-text);
    font-size: 32px;
    font-weight: 800;
    display: inline-flex;
    margin-bottom: 20px;
}

.description {
    background-color: var(--clr-dark2);
    border-radius: 10px;
    padding: 12px 12px;
    margin: 0 -12px;
}

.recipes {
    display: inline-block;
}


p {
    width: 40ch;
}


img {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    opacity: 0.9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

ol,
ul {
    width: 80ch;
    margin-left: 32px;
}

h3 {
    font-size: 28px;
    border-bottom: 2px solid var(--clr-accent);
    margin-top: 24px;
}

a {
    text-decoration: none;
    color: var(--clr-text);
    padding-right: 5px;
}
