@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --clr-dark: #0d0d0e;
    --clr-dark2: #202022;
    --clr-accent: rgb(241, 189, 146); 
}

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5;
}

* {
    /* outline: 2px solid red; */
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--clr-dark);
    color: white;
}

.logo {
    align-self: first baseline;
    font-family: kufam;
    font-weight: 100;
    margin-top: 32px;
}

html {
    margin: auto;
    display: table;
}



.desc {
    display: inline-block;
    position: absolute;
    margin-left: 24px;
}


.title {
    color: rgb(228, 235, 236);
    font-size: 32px;
    font-weight: 800;
    display: inline-flex;
    margin-bottom: 20px;
}

.recipes {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.recipe {
    position: absolute;
    bottom: 0%;
    right: -90%;
    font-size: 32px;
}


.header {
    font-size: 18px;
    display: inline-flex;
    margin-bottom: 20px;
}

.description {
    background-color: var(--clr-dark2);
    border-radius: 10px;
    padding-top: 6px;
}


p {
    width: 40ch;
}


img {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    opacity: 0.9;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
    object-fit: cover;
}

ol,
ul {
    width: 80ch;
    margin-left: 32px;
}

h3 {
    font-size: 28px;
    border-bottom: 2px solid var(--clr-accent);
    padding-bottom: 5px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 5px;
}
